<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member-Mapper">
	
	<select id="selectMemberById" parameterType="str" resultType="member">
		select
		*
		from member
		where user_id = #{user_id}
	</select>
	
	<select id="selectMemberByNickname" parameterType="str" resultType="member">
		select
		*
		from member
		where nickname = #{nickname}
	</select>
	
	<update id="insertMember" parameterType="member">
		<selectKey order="BEFORE" keyProperty="user_idx" resultType="int">
				SELECT USER_IDX_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		insert into 
		member(user_idx, user_id, name, email, password, birth, address, nickname, picture, gender, phone, regist_date, agree_tos, mbti)
		values(#{user_idx}, #{user_id}, #{name}, #{email}, #{password},
				 #{birth}, #{address}, #{nickname}, #{picture}, #{gender}, #{phone},
				  #{regist_date}, #{agree_tos}, #{mbti})
	</update>
	
	<update id="updateMember" parameterType="member">
		update member
		set name=#{name}, email=#{email}, password=#{password}, 
		 	address=#{address}, nickname=#{nickname}, phone=#{phone}, picture=#{picture}, mbti=#{mbti}
		where user_id=#{user_id}
	</update>
	
	<select id="selectSikdangList" resultType="sikdang">
		select
		sikdangname,lat,lng
		from sikdangmap
	</select>
	
		<select id="selectMBTI" parameterType="str"
		resultType="int">
		select count(mbti)
		from member
		where mbti = #{mbti}
	</select>
	
	
</mapper>
